<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновить человека</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold text-gray-800 mb-4">Update person</h1>

  <form th:method="PATCH" th:action="@{/people/{id}(id=${person.id})}" th:object="${person}"
        class="bg-white p-6 rounded-lg shadow-md">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name:
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="text" th:field="*{name}" id="name">
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500"></span>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="age">
       Age:
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="number" th:field="*{age}" id="age">
      <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-red-500"></span>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email:
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             type="email" th:field="*{email}" id="email">
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500"></span>
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
      Update
    </button>
  </form>
</div>
</body>
</html>
