<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <title>All people</title>
</head>
<body>
<div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mb-4">list</h1>
    <select class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        <option th:each="person : ${people}"
                th:value="${person.id}"
                th:text="${person.name}">
        </option>
    </select>
    <div class="mt-4">
        <a href="/people/new" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus-shadow-outline">
            create ne person
        </a>
    </div>
</div>
</body>
</html>
