<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <title>update</title>
</head>
<body>


<button type="button" class="btn btn-primary w-full" onclick="window.location.href='/test-batch-update/without'">Original update</button>
<button type="button" class="btn btn-primary w-full" onclick="window.location.href='/test-batch-update/with'">Pacege update</button>
</body>
</html>
