<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>
    <title>Обновление данных</title>
</head>
<body class="bg-gray-100">
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-4">Обновление данных</h1>

    <div class="flex flex-col gap-4">
        <button type="button" class="btn btn-primary w-full" onclick="window.location.href='/test-batch-update/without'">
            Оригинальное обновление
        </button>
        <button type="button" class="btn btn-primary w-full" onclick="window.location.href='/test-batch-update/with'">
            Обновление пакетами
        </button>
    </div>
</div>
</body>
</html>
